DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require
FRONTEND_URL=https://pro-heath.vercel.app
FRONTEND_URLS=https://pro-heath.vercel.app
NEXT_PUBLIC_FRONTEND_URL=https://pro-heath.vercel.app
NEXT_PUBLIC_API_BASE_URL=https://pro-heath.onrender.com
